@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    color: #1D1A05;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.eb-garamond-normal {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.comic-neue-regular {
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
}

section {
    background-color: #444;
}

#cover {
    height: 100vh;
    width: 100vw;
}

#cover img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

div#intro {
    background-color: #0c751e;
    padding-bottom: 10em;
    font-size: 1.1em;
    color: #EFEFEF;
    padding-top: 1em;

}

div#intro p {
    margin: 10px 15vw;
}

h2,
h3,
h4 {
    margin-bottom: 0;
    text-align: center;
}

h4 {
    color: #B10F2E;
}

div#content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: -8em 1em 0 1em;
    background-color: #EFEFEF;
    border-radius: 1em;
    border: 1px solid black;
}

div.line {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

div.column {
    margin: 5px;
}

div.column>* {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;

}

ul {
    padding: 0;
    margin-top: 5px;
}

#projects {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-bottom: 10px;
}

#projects h2 {
    color: white;
}

.project {
    width: 30%;
}

button {
    width: 10em;
}

h1 {
    font-size: 50px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 290px;
    animation-name: upwards;
    animation-duration: 2s;
    top: 40vh;
}

@keyframes upwards {
    from {
        top: 100vh;
    }

    to {
        top: 40vh;
    }
}




@media screen and (max-width: 900px) {
    #projects {
        flex-flow: column wrap;
    }

    .project {
        width: 32%;
        font-size: 0.8em;
    }

    div#intro p {
        margin: 10px 30px;
    }
}

@media screen and (max-width: 600px) {
    #projects {
        flex-flow: column wrap;
    }

    .project {
        width: 90%;
        font-size: 1em;
    }

    div#intro p {
        margin: 10px 30px;
    }

    div#content {
        flex-flow: column wrap;
    }

}