@font-face{
	font-family: 'EBGaramond';
	src: url('../Files/EBGaramond-0.016/otf/EBGaramond12-Regular.otf'),
		url('../Files/EBGaramond-0.016/ttf/EBGaramond12-Regular.ttf') format('truetype');
}
div{
	position: absolute;
	font-size: 1.5em;
	bottom: 5%;
	width: 32%;
	left: 34%;
	color: white;
}
body{
	margin: 0;
	font-family: EBGaramond;
	font-size: 1.1em;
	background-repeat: no-repeat;
	background-size: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
ol{
	list-style-type: none;
    overflow: hidden;
}
ol li a{
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}
ul li {
    float: right;
}
ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul li a:hover {
	background-color: #555;
	color: white;
}

#bobby{
	float:left;
	padding-left: 1%;
}
.index{
	background-image:  url("../Files/Images/me2.jpg");
}