body{
	margin: 0;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #444;
}

figure, figure > img {
    margin: 0;
    width: 100%;
}
header {
    display: flex;
    color: white;
    margin: 0;
    padding: 0 0 0 1em;
    flex-flow: row nowrap;
    justify-content: flex-end;
    background-color: #333;
    align-items: center;
}

#subBar {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
}

header div {
    padding: 1em;
}

header a {
    padding: 1em;
    color: inherit;
    font: inherit;
    text-decoration: none;
}

header div:hover {
	background-color: #555;
	color: white;
}

.active {
	background-color: green;
}

main {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

div#heading {
    background-image: url("../Files/Images/me.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30vw;
}

div#heading > div {
    width: 100%;
    margin: 0;
    padding: 1em 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0
    black;
}

div#heading h1 {
    background-color: darkgreen;
    text-align: center;
    padding: 0.5em;
}

footer {
    color: white;
}

@media only screen and (max-width: 992px) {
    /* Make navagation a column */
    header {
        flex-flow: column;
        padding: 0;
    }
    #endPageLinks {
        margin: 0;
    }
    /* Hide all navagation links that are not Home */
    #subBar {
        width: 100%;
        font-size: 0.8em;
        text-align: center;
        display: none;
    }
    /* If you hover over Navagation bar, show other pages */
    header:hover #subBar {
        display: flex;
        flex-flow: column-reverse nowrap;
    }
    /* Make home fill the navagation bar */
    header > div {
        margin: 0;
        padding: 1em 0;
        width: 100%;
        text-align: center;
    }
}