body{
	margin: 0;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #444;
}
ul {
  list-style-type: none;
}
button {
  cursor: pointer;
}

h1 {
  color: white;
}

figure, figure > img {
    margin: 0;
    width: 100%;
    height: 100%; 
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 0.5em;
    text-decoration: none;
  }
  
  .topnav a:not(:first-child) {
      float: right;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: green;
    color: white;
    margin-right: auto;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

.topnav img {
  height: 2em;
}
main > * {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    transition: transform 0.5s ease-in-out 0.5s;
}

div#heading {
    background-image: url("../Files/Images/me.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30vw;
}

div#heading > div {
    width: 100%;
    margin: 0;
    padding: 1em 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0
    black;
}

div#heading h1 {
    background-color: #006400b7;
    color: white;
    text-align: center;
    padding: 0.5em;
}

footer {
    color: white;
}

#portfolio {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0 10vw;
  align-content: space-between;
}

.project {
  width: 45%;
  padding: 1em 0;
}

.hidden {
  display: none;
}

.project figure {
  border-radius: 0.5em;
  position: relative;
  text-align: center;
}
figure *{
  border-radius: inherit;
}

.project figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.project figure:hover figcaption {
  background-color: #2222228f;
  color: white;
  opacity: 1;
}

img.baseImg {
  transition: opacity 0.5s ease-in-out 0.5s;
}

.project:hover img.baseImg {
  opacity: 0;
}

img.hoverImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.infoButton {
  width: 15em;
  height: 3em;
  background-color: transparent;
  color: white;
}

.infoButton:hover {
  background-color: #ffffff80;
}

.project figcaption > div {
  padding: 0 1.5em;
}

#filters {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #3f3f3f;
  padding: 0 0 1em 0;
  color: white;
  text-shadow: 1px 1px grey;
}

#filters small {
  color: rgb(207, 207, 207);
  text-align: center;
}

#filters > ul {
  display: flex;
  width: auto;
  flex-flow: row wrap;
  justify-content: flex-start;
}

#filters li {
  padding: 0.5em;
  text-transform: uppercase;
  margin: 0.2em 0.2em;
  font-weight: 700;
  font-size: 1em;
  line-height: 1em;
  cursor: pointer;
  border-width: 1px 1px 2px 1px;
  border-style: solid;
  border-color:#222;
  border-radius: 3px;
  background-color: #68686896;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}
#filters li:hover
{
  background-color: #8f8f8fb4;
}
#filters li:active
{
  background-color: #68686896;
}

#page2 {
  height: 100vh;
  width: 100vw;
  margin: 0%;
  padding: 0%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #222222;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  z-index: 100;
  align-content: center;
}

.OOF {
  transform: translate(-100% , 0);
  z-index: -1000;
}

#bodyBack {
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
  border: transparent;
  font-size: 2em;
  width: 10em;
  flex-shrink: 0;
}

#bodyBack:hover {
  color: rgb(146, 146, 146);
  background-color: rgba(255, 255, 255, 0.116);
}


#projectContents {
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  width: 100%;
}

#projectContents h1 {
  text-decoration: underline;
  margin: 0;
}

#projectContents dl {
  margin: 0;
}

#projectContents dt {
  font-size: 1.2em;
  font-weight: bold;
}

#projectContents figure {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
#projectContents figure > img {
  width: 30%;
}


iframe {
  display: block;
}

#pjDetails {
  padding: 0 5em;
}

#pjLink {
  padding: 0.25em;
}
#pjLink a {
  color: white;
  display: inline-block;
  text-decoration: none;
  border-radius: 0.1em;
  padding: 0.5em;
  font-size: 1em;
  background-color: #006400;
  box-shadow: 0 5px #4d4d4d;
  transition: background-color 0.1s linear;
}

#pjLink a:visited {
  text-decoration: none;
}

#pjLink a:hover {background-color: #005300}

#pjLink a:active {
  background-color: #005300;
  box-shadow: 0 3px #4d4d4d;
  transform: translateY(4px);
}

#loadingTop, #loadingBot {
  transition: transform 0.5s ease-in-out;
  width:  100vw;
  height: 50vh;
  text-align: center;
  z-index: 10000;
  position: fixed;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
#loadingTop {
  background-color: #333333;
  top: 0;
  transform: translateX(100vw);
  align-items: flex-end;
}

#loadingTop h1 {
  margin: 0;
}

#loadingBot {
  background-color: #444444;
  bottom: 0;
  transform: translateX(-100vw);
  align-items: flex-start;
}

#loadingTop.load, #loadingBot.load {
  transform: translateX(0);
}

#loadingBot.unload {
  transform: translateX(100vw);
}
#loadingTop.unload {
  transform: translateX(-100vw);
}

#loadingTop h1 {
  position: relative;
  bottom: 0;
}

.reset {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media only screen and (max-width: 768px) {
  .project {
    width: 90%;
    padding: 1em 0;
  }
  #portfolio, #filters > ul {
    padding: 0;
  }
}
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    #filters li {
      font-size: 0.7em;
    }
  }